---
// Codigo Server Side Only - Momento de construccion BUILD TIME
// import Welcome from "../components/Welcome.astro";
import Layout from "@layouts/Layout.astro";
import "../styles/global.css";
import type { PokemonListResponse } from "@interfaces/pokemon-list.response";
import PokemonCard from "@components/pokemons/PokemonCard.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
// Asincrono por defecto
const resp = await fetch("https://pokeapi.co/api/v2/pokemon/");
const data = (await resp.json()) as PokemonListResponse;
// console.log("🎁 - data", data);
---

<Layout title="Pokémon Static | Home">
  <h1 class="text-3xl font-bold text-white-800">Listado de Pokémons</h1>
  <hr />

  <section
    aria-label="Listado de Pokémos"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 p-5"
  >
    <!-- En Astro no se usa el key como en React -->
    {
      data.results.map((pokemon) => (
        <PokemonCard name={pokemon.name} url={pokemon.url} />
      ))
    }
  </section>

  <!-- <Welcome /> -->
</Layout>
